@using HunterWeb.ViewModels;

@{
    ViewData["Title"] = "Животные";
}

@model IEnumerable<ShortAnimalViewModel>

<h1>Мои животные</h1>

<div class="board"> 
    @foreach(var item in Model)
    {    
 
        <div class="card item">
            <img class="card-img-top img" src="@Url.Content(item.ImageUrl)" alt="image">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <a id="#" class="btn btn-primary" href="@Url.Action("Info", "Animal", new { id = item.Id })">Открыть</a>
                <a id="#" class="btn btn-primary" href="@Url.Action("Remove", "Animal", new { id = item.Id })">Удалить</a>
            </div>
        </div>   
    }

    <div class="item">
        <a href="@Url.Action("Create", "Animal")">
            <img class="img-fluid img-add" src="images/add_plus.png" alt="Add"/>   
        </a>
    </div>  
</div>