
@{
    ViewData["Title"] = "Животные";
}

@model HunterWeb.ViewModels.AnimalViewModel

    <div class="board-full">
        <div class="center-path-board">
            <img class="img-fluid img-major" src="~/@Url.Content(Model.ImageUrl)" alt="image">
            <p> @Model.Name</p>

            @foreach(var item in Model.HuntingSeasons)
            {
                <div>
                    <span>@item.DateStart</span>
                    <span>-</span>
                    <span>@item.DateEnd</span>

                    @if(item.InformationHuntingSeason is not null)
                    {
                        <p>@item.InformationHuntingSeason.Description</p>
                    }

                    <a class="btn btn-primary" href="@Url.Action("Update", "Animal", new { id = item.Id })">Обнавление</a>
                    <a class="btn btn-primary" href="@Url.Action("Delete", "Animal", new { id = item.Id })">Удаление</a>
                </div>
                <a class="btn btn-primary" href="@Url.Action("Add", "Animal")">Добавление</a>
            }

            <p> @Model.InformationAnimal.Description</p>

        </div>
    </div>